<launch>
	<!-- Start sim time for rosbags -->
	<param name="use_sim_time" value="true"/>
	<arg   name="rate_factor"  default="1"/>
	<!-- Start rosbags -->
	<node pkg="rosbag" type="play" name="play_bags" output="screen" 
	args="--clock --skip-empty=10.0 -r $(arg rate_factor)
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_00.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_01.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_02.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_03.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_04.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_05.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_06.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_07.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_08.bag
	$(find fruc_rosbags)/rosbags/2020_sete_fontes_forest_09.bag
	"/>
	
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fruc_rosbags)/urdf/d435_camera.urdf.xacro' use_nominal_extrinsics:=true"/>

 	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<!-- Compressed to image raw for pointcloud -->
	<node pkg="nodelet" type="nodelet" args="manager" name="standalone_nodelet" output="screen"/>
	<node pkg="image_transport" 
		  type="republish" 
		  name="realsense_rgb" 
		  args="compressed in:=/realsense/rgb
		  		raw out:=/realsense/rgb/image_raw"/> 
	<node pkg="image_transport" 
		  type="republish" 
		  name="realsense_depth" 
		  args="compressedDepth in:=/realsense/depth_compressed/
		        raw out:=/realsense/depth/image_rect_raw"/> 

	<!-- Convert to point cloud -->
	<node pkg="nodelet" type="nodelet" name="depth_image_proc" args="load depth_image_proc/point_cloud_xyzrgb standalone_nodelet --no-bond" output="screen">
		<!-- Input: Camera calibration and metadata.  (sensor_msgs/CameraInfo) -->
		<remap from="rgb/camera_info" to="/realsense/camera_info"/>
		<!-- Input: Rectified color image. (sensor_msgs/Image) -->
		<remap from="rgb/image_rect_color" to="/realsense/rgb/image_raw"/>
		<!-- Input: Rectified depth image, registered to the RGB camera. (sensor_msgs/Image) -->
		<remap from="depth_registered/image_rect" to="/realsense/depth/image_rect_raw"/>
		<!-- Output: XYZ point cloud. If using PCL, subscribe as PointCloud<PointXYZ>.  (sensor_msgs/PointCloud2)  -->
		<remap from="depth_registered/points" to="/camera/points"/>
	</node>

	<!-- Open custom rviz -->
	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
	    args="-d $(find fruc_rosbags)/rviz/2020_sete_fontes_forest.rviz"/>

</launch>